@import "part/addPart.css";
@import "part/updatePart.css";
@import "part/deletePart.css";
@import "link/addLink.css";
@import "link/updateLink.css";
@import "link/deleteLink.css";

#menu-container {
    background-color: #1565c0;
    text-align: center;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
}

#category-container {
    width: 11%;
    float: left;
    text-align: right;
}

#part-category-button, #overview-button, #l-overview-button {
    background: #ff3300;
    color: white;
}

#part-span {
    padding: 2px;
}

#link-span {
    padding: 2px;
}

#connector-container {
    width: 15%;
    float: left;
    display: inline-block;
    text-align: right;
    padding-top: 20px;
}

#part-connector {
    width: 360px;
    height: 5px;
    content: "";
    position: absolute;
    border-top: 2px solid;
    border-color: #ff3300;
    transform: rotate(3deg);
    transform-origin: 0% 0%;
}

#link-connector{
    width: 360px;
    height: 28px;
    content: "";
    position: absolute;
    border-top: 2px solid;
    border-color: #1565c0;
    transform: rotate(-3deg);
    transform-origin: 0% 0%;
    margin-top: 40px;
}

#options-container {
    width: 50%;
    float: left;
}

#part-options-container {
    display: inline-block;
    margin: 20px;
}

#link-options-container {
    display: inline-block;
    margin: 20px;
}

.part-option-span {
    padding-left: 10px;
    padding-right: 10px;
    border: 3px;
    text-align: center;
}

.link-option-span {
    padding-left: 10px;
    padding-right: 10px;
    border: 3px;
    text-align: center;
}

.menu-buttons {
    background: white;
    font-weight: bold;
}

button {
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
}

#title-div {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    width: 20%;
    margin: 12px;
    padding: 10px;
    float: right;
    font-size: 32px;
    font-weight: bold;
    text-shadow: #EDEDED 1px 1px 0;
}

#overviewPage-content-container {
    margin: 0 auto;
}

#content-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: -webkit-flex;
}

body {
    background-image: linear-gradient(to right, #5ea1ed, white, white, white, white, white ,white, white, #5ea1ed);
}

table {
    border-collapse: collapse;
}

tr {
    height: auto;
}

tr:nth-child(odd) {
    background-color: #039be5;
}

tr th {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}

td, th {
    border: 2px solid black;
    padding: 5px 10px;
}

.add-buttons {
    width: 100%;
    height: 30px;
    padding: 3px;
    border-radius: 10px;
    border-width: 1px;
    vertical-align: center;
    text-align: center;
}

.update-buttons {
    color: black;
    width: 100px;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    border-width: 1px;
}

#part-delete-table tr:nth-child(odd) {
    background-color: #039be5;
}

.delete-buttons {
    color: red;
    width: 100px;
    margin: 5px;
    padding: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 0px;
    text-shadow: 1px 1px 3px red;
    box-shadow: 0px 0px 8px 2px red;
    font-family: inherit;

}
